.menubar {
  flex: 0.08;
  width: 100%;
  background: #2c426b;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menubar__icon {
  flex: 0.1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  margin-bottom: 0.5vw;
  padding: 0.8vw 0;
  cursor: pointer;
}

.menubar__icon--selected {
  background-color: #3f51b5;
  border-right: 3px solid #f50057;
}

@media (max-width: 900px) {
  .menubar__icon {
    font-size: larger;
  }
}
